In [1]:
import sys, sqlite3, pandas as pd
print(sys.executable)
print(sqlite3.sqlite_version)
print(pd.__version__)

/opt/anaconda3/envs/healthcode/bin/python
3.50.2
2.3.3

In [2]:
import sqlite3
import pandas as pd

# open a connection to the database file
conn = sqlite3.connect("boston.db")

In [5]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
pd.read_sql("SELECT COUNT(*) AS rows FROM violations", conn)

   rows
0     0

In [7]:
import sqlite3, pandas as pd
conn = sqlite3.connect("boston.db")

# Check total rows
print(pd.read_sql("SELECT COUNT(*) AS rows FROM violations", conn))

# Peek at first 5 rows
print(pd.read_sql("SELECT * FROM violations LIMIT 5", conn))

# Quick check: top violation codes
print(pd.read_sql("""
    SELECT violation_code, COUNT(*) AS cnt
    FROM violations
    GROUP BY violation_code
    ORDER BY cnt DESC
    LIMIT 10
""", conn))

     rows
0  852119
   id       business_name       address   violation_code  \
0   1  1000 Degrees Pizza  55  COURT ST  13-2-304/402.11
1   2  1000 Degrees Pizza  55  COURT ST  22-4-601/602.11
2   3  1000 Degrees Pizza  55  COURT ST       M-2-103.11
3   4  1000 Degrees Pizza  55  COURT ST  08-3-305-307.11
4   5  1000 Degrees Pizza  55  COURT ST      21-3-304.14

                   violation_desc neighborhood        date    status
0    Clean Cloths  Hair Restraint         None  2018-03-20   HE_Fail
1     Food Contact Surfaces Clean         None  2018-03-20   HE_Fail
2           PIC Performing Duties         None  2018-03-20   HE_Fail
3                 Food Protection         None  2018-08-08  HE_Filed
4  Wiping Cloths  Clean  Sanitize         None  2018-08-08  HE_Filed
      violation_code    cnt
0               None  59271
1        23-4-602.13  43967
2    37-6-501.11-.12  39949
3        15-4-202.16  35178
4    36-6-501.11-.12  33802
5    08-3-305-307.11  30209
6  32-6-301.11-02.11  23323
7  42-6-501.113/.114  22183
8        21-3-304.14  18261
9     29-5-201/02.11  17649

In [9]:
from scripts.queries import top_violation_codes, top_descriptions

print("Top codes:", top_violation_codes(5))
print("Top descriptions:", top_descriptions(5))

Top codes: [(None, 59271), ('23-4-602.13', 43967), ('37-6-501.11-.12', 39949), ('15-4-202.16', 35178), ('36-6-501.11-.12', 33802)]
Top descriptions: [(None, 65161), ('Non-Food Contact Surfaces Clean', 43967), ('Improper Maintenance of Walls/Ceilings', 39949), ('Non-Food Contact Surfaces', 35178), ('Improper Maintenance of Floors', 33802)]